.home {
  background: var(--color-primary);
  padding: 8px;

  & > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    & > li {
      width: 33.33333%;
      border-right: 1px solid rgba(var(--color-primary-dark-rgb), 0.25);
      border-bottom: 1px solid rgba(var(--color-primary-dark-rgb), 0.25);
    }
  }
}