.cardContainer {
  height: 100%;
  padding: 16px;
  position: relative;


  & > a.itemUrl {
    display: block;
    height: 170px;
    margin-bottom: 16px;
    position: relative;
    text-align: center;

    & > img {
      left: 50%;
      max-width: 100%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      vertical-align: middle;
    }
  }

  & > a.itemTitle {
    color: var(--color-primary-text);
    display: block;
    font-size: 2rem;
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden;
  }

  & > div.actionsContainer{
    align-items: center;
    display: flex;
    justify-content: space-between;

    & > span {
      color: var(--color-primary-text);
      font-size: 1.8rem;
    }

    & > button {
      background: var(--color-secondary);
      border: none;
      border-radius: 4px;
      color: var(--color-secondary-text);
      display: inline-block;
      font-size: 1.8rem;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
    }
  }
}
