.header {
  align-items: center;
  background:var(--color-secondary);
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding-inline: 16px;

  & > .logo {
    color: var(--color-secondary-text);
    height: 6rem;
    width: 6rem;
  }

  & > .buttons_container {
    display: flex;
    gap: 4px;

    & > button {
      background: 0;
      border: 0;
      color: var(--color-secondary-text);
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: underline;
    }
  }
}