:root {
    --color-primary: #fffcf7;
    --color-primary-dark: #ccc9c4;
    --color-primary-dark-rgb: 204, 201, 196;
    --color-primary-light: #ffffff;
    --color-primary-text: #738290;

    --color-secondary: #a1b5d8;
    --color-secondary-dark: #7185a6;
    --color-secondary-light: #d3e7ff;
    --color-secondary-text: #fffcf7;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, p, span, a, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, div#root {
    height: 100%;
    overflow-x: hidden;
}

a {
    color: var(--color-primary-text);
    text-decoration: none;
}
